header{
    color:blue;
    background-color: rgb(0, 0, 0);
    justify-content:space-between;
    align-items: center;
    display: flex;
}
a{
    color: rgb(2, 0, 0);
    background-color: rgb(255, 255, 255);
    padding:30px;
    margin:20px ;
    margin-right: 1.8cm;
    margin: inline 1.5em;;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-variant-numeric: inherit;
    display:flow-root
}
button{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin: 20px;
    margin-right: 2.5cm;
    margin: inline 1.4em;;
    scroll-margin-block: ;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-feature-settings: "afrc";
}
.ilk{
    color: black;
    background-color: darkred;
    justify-content: space-between;
    align-items: flex-end;
    display:flex ;
    padding: 15px;
    margin: 1.5em;
    width: 300px;
    height:20px ;
    text-align: center;
}
.son{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 145, 0);
    justify-content:space-between;
    align-items:flex-end ;
    display:flex;
    padding: block end 100px; ;
    width:300px ;
    height: fit-content;
    text-align: center;

}
main{
    display:flex ;
    justify-content:center;
    align-items: center;
}
main img{
    width: 800px;
}
main button{
    width: 300px;
}
